* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e1e1e1;
    padding: 10px 20px;
    border-bottom: 2px solid #4a90e2;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.introduction {
    display: flex; /* Utilisation de Flexbox pour aligner le texte et l'image */
    background-color: #ffeef8;
    padding: 20px;
    margin: 20px;
    border: 2px solid #ff69b4;
}

.text-content {
    flex: 1; /* Prend l'espace restant */
    padding-right: 20px; /* Ajoute de l'espace entre le texte et l'image */
}

.image-placeholder {
    width: 700px; /* Largeur fixe pour l'image */
    height: 300px; /* Hauteur fixe pour l'image */
    background-color: #d3d3d3; /* Couleur de fond gris pour représenter une image */
    border: 2px dashed #000; /* Bordure en pointillé pour indiquer une image */
}
