<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bricoli</title>
</head>

<body>
    <header>
        <div class="logo">Bricoli logo</div>
        <nav>
            <ul>
                <li><a href="#">BricoliPro</a></li>
                <li><a href="#">Explorer</a></li>
                <li><a href="#">Contactez-nous</a></li>
                <li><a href="#">Client</a></li>
                <li><a href="#">Prestataire</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="introduction">
            <div class="text-content">
                <p>Vous avez des talents à valoriser ou recherchez un prestataire qualifié pour vos travaux de bricolage
                    ? Bricoli est la plateforme idéale pour mettre en relation experts et clients afin de répondre à
                    tous vos besoins.</p>
            </div>
            <div class="image-placeholder"></div>
        </section>
    </main>
</body>

</html>